html,
body {
    width: 100%;
    height: 100%;
}
body {
    font-family: 'Shippori Mincho B1', serif;
    letter-spacing: 0px;
    position: relative;
}
.thx-text {
    position: absolute;
    top: 900px;
    left: 50px;
}
.thx-text p {
    font-size: 45px;
    letter-spacing: 5px;
}
.main {
    position: absolute;
    top: 35%;
    left: 27%;

}
.containers {
    margin: auto;
}
.container {
    float: left;
}
.my-name {
    margin: 16px auto;
    text-align: center;
    display: block;
}
ul {
    list-style: none;
}
.name ul {
    list-style: none;
    display: inline-block;
    margin-right: 100px;
}
.name li {
    text-align: right;
}
.jpn-name {
    font-size: 80px;
}
.eng-name {
    font-size: 40px;
}
.item {
    margin-left: 40px;
}
.slide-down,
.contact-form a {
    color: #000000;
    text-align: left;
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    text-decoration: none;
}
.slide-down::after,
.contact-form a::after {
    position: absolute;
    bottom: -4px;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    background: #333;
    transform: scale(0, 1);
    transform-origin: center top;
    transition: transform .5s;
}
.slide-down:hover::after,
.contact-form a:hover::after {
    transform: scale(1, 1);
}
.slide-down,
.contact-form a {
    display: block;
}
.item-title {
    font-size: 30px;
    padding-bottom: 10px;
}
.item-info {
    font-size: 27px;
    margin-bottom: 20px;
}
.item-discription {
    font-size: 25px;
    letter-spacing: 0px;
    margin-bottom: 20px;
    text-align: justify;
    text-justify: inter-ideograph;
}
.item-discription span {
    font-size: 30px;
}
.item-last {
    margin-bottom: 100px;
}
.slide-1,
.slide-2,
.slide-3 {
    width: 500px;
}
.slide-2 img {
    padding-bottom: 20px;
}