@charset "utf-8";


/* -- .slide-down -------------------------------------------------------------------------------------------- */



.slide-down:hover {
	cursor: pointer;
	opacity: 0.3;
}






/* -- div.slide-* -------------------------------------------------------------------------------------------- */

div.slide-1,
div.slide-2,
div.slide-3 {
	display: none;
}








