.main {
    margin-top: 150px;
    font-family: 'Shippori Mincho B1', serif;
    letter-spacing: 0px;
}
/* input 要素 */
#name, #email, #subject, #email_check, #tel {
    max-width:400px;
}
#body {
    max-width: 640px;
}
/* エラー表示 */
p.error, span.error {
    color: red;
}
/* フォーム要素（Bootstrap4 のスタイルを上書き） */
.form-control {
    border-radius: 0px;
    background-color: #fdfdfd;
    font-size: 14px;
}
.form-control:focus {
    border-color: #aadbe8;
    outline: 0;
    -webkit-box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
    box-shadow: inset 0 0px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.4);
    background-color:#fff;
}
/* Google Chrome, Safari, Opera 15+, Android, iOS */
::-webkit-input-placeholder {
    font-size: 13px;
}
/* Firefox 18- */
:-moz-placeholder {
    font-size: 13px; }
/* Firefox 19+ */
::-moz-placeholder {
    font-size: 13px; }
/* IE 10+ */
:-ms-input-placeholder {
    font-size: 13px; }
::placeholder{
    font-size: 13px;
}
textarea.form-control {
    height: 200px;
}